<div x-data="quote()" x-init="fetchQuote()">
    <template x-if="isLoaded()">
        <template x-if="success">
            <a :href="link" target="_blank"
                class="inline-block py-2 pl-4 my-2 text-orange-300 border-l-4 border-orange-300" x-text="quote">
            </a>
        </template>
        <template x-if="!success">
            <p class="py-2 my-2 text-sm text-red-300" x-text="quote">
            </p>
        </template>
    </template>
    <template x-if="!isLoaded()">
        <p class="py-2 my-2 text-sm text-gray-300">
            Loading quote of the day...
        </p>
    </template>
</div>

<script>
    const quote = () => {
        return {
            quote: '',
            author: '',
            link: '',
            success: false,
            isLoaded() {
                return this.quote !== ''
            },
            fetchQuote() {
                const url = "/.netlify/functions/quote";

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        this.success = data.success;
                        this.quote = this.success ? `${data.quote.text} - ${data.quote.author}` : data.error
                        this.link = this.success ? data.quote.link : ''

                        console.log('Loaded quote. Success: ' + this.success)
                    });
            }
        }
    }
</script>